
/*top top top top top top top top top top top top top top top top top*/
#top{
  height: 100px; 
  background-color: white; 
  margin-top: -25px; 
}
#title{
    padding-top: 22px; 
    text-align: center;
    padding-bottom: -15px; 
}
#nav{
  padding-top: 18px; 
   float: right; 
   margin: -60px 35px 0 0 ;
}

#td1{
  color: #88C425;
  margin: 0px 0px 0px -2px;
  padding: 10px;
}


/*body body body body body body body body body body body body body body*/ 
body{
  margin: 0;
  background-image: url("../pics/dark_wood.png");

}

#watch{
  margin-top: 130px;
  height: 335px;
  width: 620px; 
}
#watchPic,#watchPicTwo,#watchPicThree,{
  margin: 0, 10px, 0, 0; 
}
#watchPic{
  margin-left: -10px; 
  margin-right: -10px; 
  height: 330px;
  width: 455px; 
}
#watchPicTwo{
  height: 330px;
  width: 480px;
 }
 #watchPicThree{
  margin-left: -10px; 
  height: 330px;
  width: 520px;
}
 #watchPicFive, #watchPicFour{
  margin-left: -10px; 
  margin-right: -10px; 
  height: 330px;
  width: 520px;
}
#lastWatchPic{
  margin-left: -10px; 
  margin-right: -10px; 
  height: 330px;
  width: 470px;
}




#container {
  width: 1000px;
  overflow: hidden;
  margin: 50px auto;
  background-color: white;  
  border: 4px solid white;  
  border-radius: 6px; 
}
.photobanner {
  height: 233px;
  width: 1550px;
  margin-bottom: 80px;
}


/*footer footer footer footer footer footer footer footer footer footer*/ 
#footer{  
  width: 100%;
  position:absolute;
  margin-top: 300px; 
  background-color: white; 
}
#contact{ 
  margin-bottom: 10px; 
  margin-left: 500px; 
  list-style: none; 
  width: 300px;
  height: 100px;
}
#watchList{    
  width: 300px;
  list-style: none;
  margin-top: -110px;
  margin-right: 280px;
  height: 100px;
  float: right;
}

/*links links links links links links links links links links links links links links*/
a:link{
  text-decoration: none;
  color: grey;
}
a:visited{
  color: grey;   
}
a:hover{
  text-decoration: underline;
}

/*fonts fonts fonts fonts fonts fonts fonts fonts fonts*/
@font-face {
    font-family:'Walkway_Oblique_UltraBold';
    src: url('../fonts/Walkway_Oblique_UltraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p, ul, li, td, div { 
  font-family: Walkway_Oblique_UltraBold;
  font-variant: small-caps;
}
@font-face {
    font-family:'Walkway_SemiBold';
    src: url('../fonts/Walkway_SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
  font-family: Walkway_SemiBold;
  font-variant: small-caps;
}














/*resourse for scrolling bar here---> https://designshack.net/articles/css/infinitephotobanner/*/ 
/*keyframe animations*/
.first{
  -webkit-animation: bannermove 30s linear infinite;
     -moz-animation: bannermove 30s linear infinite;
      -ms-animation: bannermove 30s linear infinite;
       -o-animation: bannermove 30s linear infinite;
          animation: bannermove 30s linear infinite;
}
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
}
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
}
 /*banner hover zoom effect*/ 
.photobanner img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.photobanner img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
 
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}